@using Task6.Models
@model IEnumerable<Song>

<div class="list-group shadow-lg rounded-4 overflow-hidden" id="songsContainer">
    @if (Model != null && Model.Any())
    {
        int index = 1;
        foreach (var song in Model)
        {
            @await Html.PartialAsync("_Song", (index, song))
            index++;
        }
    }
    else
    {
        <div class="list-group-item text-center bg-dark text-secondary py-5">
            <i class="fa-solid fa-music fa-2x mb-3"></i>
            <p>No songs to display</p>
        </div>
    }
</div>