@using Task6.Models
@{
    ViewData["Title"] = "Home Page";
}

@model (IEnumerable<Song> songs, GenerationData data)


@await Html.PartialAsync("_Toolbar", Model.data)

<div class="container py-4">
    @await Html.PartialAsync("_SongListPartial", @Model.songs)
</div>